{% extends "shared/layout.html" %}

<head>
    {% block meta_tags %}
    <title>Weather API</title>
    {% endblock %}
</head>

{% block content %}

    <img src="/static/img/cloud.png" style="float: left; max-width: 48px; margin-right: 20px;" alt="">

    <h1><span class="font-semi-bold">Weather Service</span> <span class="smaller">A RESTful weather service API</span>
    </h1>

    <div style="clear:both;"></div>
    <br>
    <br>
<!--    <p class="lead">-->
<!--        The <a href="https://training.talkpython.fm/">Talk Python</a> weather service.<br>-->
        <br>
        <strong>Endpoints</strong>
    <ul>
        <li>
            <strong>Current weather in Ourimbah</strong><br>
            <a href="/api/weather/ourimbah?&country=AU&units=metric"
               target="_blank"
            ><strong>GET /api/weather/{city}?country={country}&state={state}</strong></a><br>
            <br>
            <div style="font-size: 12px;">
                <strong>Parameters</strong>
                <ul>
                    <li><strong>Required</strong>: <code>city={city}</code> - the city you want to get the weather for.
                    </li>
                    <li>Optional: <code>state={state}</code> - the state of the city (AU or US only, two or three letter
                        abbreviations).
                    </li>
                    <li>Optional: <code>country={country}</code> - country, AU if none specified (two letter
                        abbreviations).
                    </li>
                    <li>Optional: <code>units={units}</code> - units: {metric, imperial, standard}, defaults to metric.
                    </li>
                </ul>

                <strong>Response JSON</strong>
                <ul>
                    <li>Click <a href="/api/weather/Gosford?state=NSW&country=AU&units=metric"
                                 target="_blank"
                    >this link</a> to see example output for Gosford.
                    </li>
                </ul>
            </div>
        </li>
    </ul>
    </p>

    {% if events %}
    <div>
        <h2>Recent weather events</h2>
        <ul>
            {% for e in events %}
            <li> {{ e.obsLocation.city }}, {{ e.obsLocation.country }}: {{ e.description }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    {% if obs %}
    <div>
        <h2><a href="/recent" target="_blank">Recent observations</a></h2>
        <ul>
            {% for o in obs %}
            <li> {{ o.obsLocation.room }}, {{ o.obsLocation.xbee_code }}: T = {{ o.temp }}C, H = {{o.humidity}}%, Feels like {{o.temp_exp}}C, {{o.saved.strftime("%d %b %H:%M:%S")}}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    </div>

{% endblock %}