{% extends "shared/layout.html" %}
<head>
    {% block meta_tags %}
    <title>Observations</title>
    {% endblock %}
</head>

{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script>
    $(function(){
        window.setInterval(function(){
            Update_obs()
        }, 120000)

        const months = ['Jan', 'Feb', 'Mar', 'Apr', 'Mar', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
        function Update_obs(){
            var newStr;
            $('li.update').remove();
            $.ajax({
                url: "/api/obs",
                type: "GET",
                dataType: "json",
                success: function(data){
                    // console.info('data received')
                    // console.log(data)
                    var obsDate;
                    var newDateStr;
                    var minute;
                    var obsHour;
                    for (var i = 0; i < data.length; i++) {
                        // console.log(data[i].temp)
                        obsDate = new Date(data[i].created_date)
                        minute = obsDate.getMinutes()
                        obsHour = obsDate.getHours()
                        newDateStr = obsDate.getDate() + ' ' + months[obsDate.getMonth()] + ((obsHour < 10) ? ' 0' : ' ') + obsHour + ((minute < 10) ? ':0' : ':') + minute
                        // console.log(obsDate.getFullYear(obsDate))
                        newStr = data[i].obsLocation.room + ', xbee: ' + data[i].obsLocation.xbee_code + ': T = ' + data[i].temp + 'C, H = ' + data[i].humidity + '%, Feels like ' + data[i].temp_exp + 'C, ' + newDateStr
                        $('ul.obs').append('<li class="update">' + newStr + '</li>')
                    }
                }
            });
        }
    });
</script>

    <img src="/static/img/cloud.png" style="float: left; max-width: 48px; margin-right: 20px;" alt="">
    <h1><span class="font-semi-bold">Observations</span> <span class="smaller">from the Wombat weather service API</span>
    </h1>

    <div style="clear:both;"></div>
    <br>

    {% if obs %}
    <div>
        <h2>Recent observations</h2>
        <div id="obsContainer">
        <ul class="obs">
            {% for o in obs %}
            <li class="update"> {{ o.obsLocation.room }}, {{ o.obsLocation.xbee_code }}: T = {{ o.temp }}C, H = {{o.humidity}}%, Feels like {{o.temp_exp}}C, {{o.created_date.strftime("%d %b %H:%M:%S")}}</li>
            {% endfor %}
        </ul>
        </div>
    </div>
    {% endif %}

{% endblock %}